<head>
    <meta charset="utf-8">
</head>
<ion-view view-title="Cronograma">
    <ion-tabs class="tabs-positive">

        <ion-tab title="Sexta">
        <ion-content has-subheader="false">
          <div class="crono-content">

            <div class="lecture">
              <div id="time" class="time">15:30h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">Check-in</span>
                <span class="speaker"></span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">19:30h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">Abertura</span>
                <span class="speaker">Nome do palestrante</span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">20:00h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">Abertura Núcleo</span>
                <span class="speaker">Nome do palestrante</span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">21:00h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">Palestra de abertura</span>
                <span class="speaker">Raquel Tetti</span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">22:00h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">Coquetel</span>
                <span class="speaker"></span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">23:00h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">Transporte</span>
                <span class="speaker"></span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">00:00h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">Jogos noturnos</span>
                <span class="speaker"></span>
              </div>
            </div>

          </div>
        </ion-content>
        </ion-tab>

        <ion-tab title="Sábado">
        <ion-content has-subheader="false">
          <div class="crono-content">

            <div class="lecture">
              <div class="time">07:00h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">Café da manhã</span>
                <span class="speaker"></span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">09:00h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">B1</span>
                <span class="speaker">Nome do palestrante</span>
                <span class="title">B2</span>
                <span class="speaker">Nome do palestrante</span>
                <span class="title">B3</span>
                <span class="speaker">Nome do palestrante</span>
                <span class="title">B4</span>
                <span class="speaker">Nome do palestrante</span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">11:00h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">Intervalo</span>
                <span class="speaker"></span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">11:30h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">GD Marketing</span>
                <span class="speaker">Mediador:</span>
                <span class="title">GD Relações Comerciais</span>
                <span class="speaker">Mediador:</span>
                <span class="title">GD Projetos</span>
                <span class="speaker">Mediador:</span>
                <span class="title">GD Qualidade</span>
                <span class="speaker">Mediador:</span>
                <span class="title">GD Administrativo</span>
                <span class="speaker">Mediador:</span>
                <span class="title">GD Recursos Humanos</span>
                <span class="speaker">Mediador:</span>
                <span class="title">GD Eventos</span>
                <span class="speaker">Mediador:</span>
                <span class="title">GD Presidência</span>
                <span class="speaker">Mediador:</span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">12:30h</div>
              <div class="check acitve"></div>
              <div class="lecture-content">
                <span class="title">Almoço</span>
                <span class="speaker"></span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">14:30h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">Palestra Liderança</span>
                <span class="speaker">Kalil El Kadri</span>
                <span class="title">Workshop Choice</span>
                <span class="speaker">Nome do palestrante</span>
                <span class="title">Workshop Storytelling</span>
                <span class="speaker">Wellington Santos Silva</span>
                <span class="title">Workshop Lean Solutions</span>
                <span class="speaker">Nome do palestrante</span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">15:30h</div>
              <div class="check acitve"></div>
              <div class="lecture-content">
                <span class="title">FEJESP</span>
                <span class="speaker">Paulo Américo</span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">16:00h</div>
              <div class="check acitve"></div>
              <div class="lecture-content">
                <span class="title">Coffe-break</span>
                <span class="speaker"></span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">18:00h</div>
              <div class="check acitve"></div>
              <div class="lecture-content">
                <span class="title">Jantar Banho</span>
                <span class="speaker"></span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">23:00h</div>
              <div class="check acitve"></div>
              <div class="lecture-content">
                <span class="title">Transporte</span>
                <span class="speaker"></span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">00:00h</div>
              <div class="check acitve"></div>
              <div class="lecture-content">
                <span class="title">Festa</span>
                <span class="speaker"></span>
              </div>
            </div>

          </div>
        </ion-content>
        </ion-tab>

        <ion-tab title="Domingo">
        <ion-content has-subheader="false">
          <div class="crono-content">

            <div class="lecture">
              <div class="time">07:00h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">Café da manhã</span>
                <span class="speaker"></span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">09:00h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">Transporte</span>
                <span class="speaker"></span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">10:00h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">Palestra de Encerramento</span>
                <span class="speaker">Aser Cortines</span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">13:30h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">Espaço Núcleo</span>
                <span class="speaker">Nome do palestrante</span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">14:00h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">Encerramento</span>
                <span class="speaker">Nome do palestrante</span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">14:30h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">Transporte</span>
                <span class="speaker"></span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">15:30h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">Almoço</span>
                <span class="speaker"></span>
              </div>
            </div>

          </div>
        </ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>
