<head>
    <meta charset="utf-8">
</head>
<ion-view view-title="Cronograma">
    <ion-tabs class="tabs-positive">

        <ion-tab title="Sexta">
        <ion-content has-subheader="false">
          <div class="crono-content">

            <div class="lecture">
              <div class="time">18h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">Palestra #1</span>
                <span class="speaker">Nome do palestrante</span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">19h</div>
              <div class="check active"></div>
              <div class="lecture-content">
                <span class="title">Palestra #2</span>
                <span class="speaker">Nome do palestrante</span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">20h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">Coffee</span>
                <span class="speaker">Nome do palestrante</span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">21h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">Palestra #3</span>
                <span class="speaker">Nome do palestrante</span>
              </div>
            </div>

          </div>
        </ion-content>
        </ion-tab>

        <ion-tab title="Sábado">
        <ion-content has-subheader="false">
          <div class="crono-content">

            <div class="lecture">
              <div class="time">7h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">Coffee</span>
                <span class="speaker">Nome do palestrante</span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">8h</div>
              <div class="check active"></div>
              <div class="lecture-content">
                <span class="title">Palestra #1</span>
                <span class="speaker">Nome do palestrante</span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">9h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">Palestra #2</span>
                <span class="speaker">Nome do palestrante</span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">10h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">Palestra #3</span>
                <span class="speaker">Nome do palestrante</span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">11h</div>
              <div class="check acitve"></div>
              <div class="lecture-content">
                <span class="title">Palestra #4</span>
                <span class="speaker">Nome do palestrante</span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">12h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">Almoço</span>
                <span class="speaker">Nome do palestrante</span>
              </div>
            </div>

          </div>
        </ion-content>
        </ion-tab>

        <ion-tab title="Domingo">
        <ion-content has-subheader="false">
          <div class="crono-content">

            <div class="lecture">
              <div class="time">7h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">Coffee</span>
                <span class="speaker">Nome do palestrante</span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">8h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">Palestra #1</span>
                <span class="speaker">Nome do palestrante</span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">9h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">Palestra #2</span>
                <span class="speaker">Nome do palestrante</span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">10h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">Palestra #3</span>
                <span class="speaker">Nome do palestrante</span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">11h</div>
              <div class="check"></div>
              <div class="lecture-content">
                <span class="title">Palestra #4</span>
                <span class="speaker">Nome do palestrante</span>
              </div>
            </div>

            <div class="lecture">
              <div class="time">12h</div>
              <div class="check active"></div>
              <div class="lecture-content">
                <span class="title">Almoço</span>
                <span class="speaker">Nome do palestrante</span>
              </div>
            </div>

          </div>
        </ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>
