<ion-view view-title="IV WelcoMEJ">
    <ion-content id="home-content">
        <div class="row main-row">

        </div>
        <div class="row btn-top-row">
          <a href="#/app/crono" class="col col-50 btn-home cronograma">
              <i class="ion-calendar">
              <span class="title">Cronograma</span></i>
          </a>
          <a href="#/app/mapa" class="col col-50 btn-home mapa col col-50">
            <i class="ion-map">
            <span class="title">Mapa</span></i>
          </a>
        </div>
        <div class="row btn-bottom-row">
          <a href="#/app/manual" class="col col-50 btn-home manual">
            <i class="ion-document-text">
            <span class="title">Manual</span></i>
          </a>
          <a href="#/app/feedback" class="col col-50 btn-home feedback">
            <i class="ion-chatbox">
            <span class="title">Feedback</span></i>
          </a>
        </div>
    </ion-content >
</ion-view>
