<ion-view view-title="Palestrantes">
    <ion-content>

        <a class="item item-avatar" href="#/app/palestrantes/palestrante1">
            <img src="img/foto.png">
            <h2>Nome do palestrante</h2>
            <p>palestrante@email.com</p>
        </a>

        <a class="item item-avatar" href="#/app/palestrantes/palestrante1">
            <img src="img/foto.png">
            <h2>Nome do palestrante</h2>
            <p>palestrante@email.com</p>
        </a>

        <a class="item item-avatar" href="#/app/palestrantes/palestrante1">
            <img src="img/foto.png">
            <h2>Nome do palestrante</h2>
            <p>palestrante@email.com</p>
        </a>

        <a class="item item-avatar" href="#/app/palestrantes/palestrante1">
            <img src="img/foto.png">
            <h2>Nome do palestrante</h2>
            <p>palestrante@email.com</p>
        </a>

        <a class="item item-avatar" href="#/app/palestrantes/palestrante1">
            <img src="img/foto.png">
            <h2>Nome do palestrante</h2>
            <p>palestrante@email.com</p>
        </a>


    </ion-content>
</ion-view>
