<ion-view view-title="Palestrantes">
    <ion-content>
        <div class="list card">
            <a class="item item-image" href="#/app/home">
                <img src="img/foto.jpg">
            </a>
            <a class="item item-icon-left dark" href="#/app/home">
                Fulano
            </a>
        </div>

        <div class="list card">
            <a class="item item-image" href="#/app/home">
                <img src="img/foto.jpg">
            </a>
            <a class="item item-icon-left dark" href="#/app/home">
                Fulano
            </a>
        </div>

        <div class="list card">
            <a class="item item-image" href="#/app/home">
                <img src="img/foto.jpg">
            </a>
            <a class="item item-icon-left dark" href="#/app/home">
                Fulano
            </a>
        </div>

        <div class="list card">
            <a class="item item-image" href="#/app/home">
                <img src="img/foto.jpg">
            </a>
            <a class="item item-icon-left dark" href="#/app/home">
                Fulano
            </a>
        </div>
    </ion-content>
</ion-view>