<ion-view view-title="Palestrantes">
    <ion-content>

        <a class="item item-avatar" href="#/app/palestrantes/andrei_golfeto">
            <img src="img/palestrantes/andrei_golfeto.jpg">
            <h2>Andrei Golfeto</h2>
            <p>palestrante@email.com</p>
        </a>

        <a class="item item-avatar" href="#/app/palestrantes/aser_cortines">
            <img src="img/palestrantes/aser_cortines.jpg">
            <h2>Aser Cortines</h2>
            <p>palestrante@email.com</p>
        </a>

        <a class="item item-avatar" href="#/app/palestrantes/daniela_siaulys">
            <img src="img/palestrantes/daniela_siaulys.jpg">
            <h2>Daniela Siaulys</h2>
            <p>palestrante@email.com</p>
        </a>

        <a class="item item-avatar" href="#/app/palestrantes/dario_neto">
            <img src="img/palestrantes/dario_neto.jpg">
            <h2>Dario Neto</h2>
            <p>palestrante@email.com</p>
        </a>

        <a class="item item-avatar" href="#/app/palestrantes/elson_pires">
            <img src="img/palestrantes/elson_pires.jpg">
            <h2>Elson Pires</h2>
            <p>palestrante@email.com</p>
        </a>

        <a class="item item-avatar" href="#/app/palestrantes/gabriel_ferreira">
            <img src="img/palestrantes/gabriel_ferreira.jpg">
            <h2>Gabriel Ferreira</h2>
            <p>palestrante@email.com</p>
        </a>

        <a class="item item-avatar" href="#/app/palestrantes/kalil_el_kadri">
            <img src="img/palestrantes/kalil_el_kadri.jpg">
            <h2>Kalil El Kadri</h2>
            <p>palestrante@email.com</p>
        </a>

        <a class="item item-avatar" href="#/app/palestrantes/klynsmann_bagatini">
            <img src="img/palestrantes/klynsmann_bagatini.jpg">
            <h2>Klynsmann Bagatini</h2>
            <p>palestrante@email.com</p>
        </a>

        <a class="item item-avatar" href="#/app/palestrantes/marcus_barao">
            <img src="img/palestrantes/marcus_barao.jpg">
            <h2>Marcus Barão</h2>
            <p>palestrante@email.com</p>
        </a>

        <a class="item item-avatar" href="#/app/palestrantes/paulo_americo">
            <img src="img/palestrantes/paulo_americo.jpg">
            <h2>Paulo Américo</h2>
            <p>palestrante@email.com</p>
        </a>

        <a class="item item-avatar" href="#/app/palestrantes/raquel_tetti">
            <img src="img/palestrantes/raquel_tetti.jpg">
            <h2>Raquel Tetti</h2>
            <p>palestrante@email.com</p>
        </a>

        <a class="item item-avatar" href="#/app/palestrantes/thiago_novazzi">
            <img src="img/palestrantes/thiago_novazzi.jpg">
            <h2>Thiago Novazzi</h2>
            <p>palestrante@email.com</p>
        </a>

        <a class="item item-avatar" href="#/app/palestrantes/wellington_santos_silva">
            <img src="img/palestrantes/wellington_santos_silva.png">
            <h2>Wellington Santos Silva</h2>
            <p>palestrante@email.com</p>
        </a>

        <a class="item item-avatar" href="#/app/palestrantes/yuri_pomarole">
            <img src="img/palestrantes/yuri_pomarole.jpg">
            <h2>Yuri Pomarole</h2>
            <p>palestrante@email.com</p>
        </a>


    </ion-content>
</ion-view>
