<ion-view view-title="Palestrante">
    <ion-content id="">
      <div class="speaker-big-img">
        <img src="img/palestrantes/yuri_pomarole.jpg">
      </div>

      <div class="card">
        <a class="item item-icon-left" href="#">
          <i class="icon ion-email"></i>
          palestrante@email.com
        </a>
      </div>

      <div class="card">
        <a class="item item-icon-left" href="#">
          <i class="icon ion-social-facebook"></i>
          palestrante@email.com
        </a>
      </div>

      <div class="card">
        <a class="item item-icon-left" href="#">
          <i class="icon ion-social-twitter"></i>
          palestrante@email.com
        </a>
      </div>


    </ion-content >
</ion-view>
