/*=================================*/
/* MENU */
/*=================================*/

#menu-content,
#menu-content .item,
#menu-content .item-content{
  background-color: #31a9de;
  border-color: #1B8ABB;
  color: #fff;
}

#menu-content .bar.bar-stable {
  background-color: #1B8ABB;
  color: #fff;
}

#menu-content .bar.bar-stable .title {
  color: #fff;
}

.circle {
  position: relative;
  background-color: #1B8ABB;
  padding: 6px;
  margin: 0 5px;
  border-radius: 50%;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  z-index: -1;
  box-shadow: 0 0 0 0 #1B8ABB;
  transition: box-shadow 300ms ease-in-out;
}

#menu-content ion-item:hover .circle {
  box-shadow: 0 0 0 400px #1B8ABB;
}

/*ion-view transition from standard view to menu*/
.menu-animated {
    -webkit-transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
}

/*=================================*/
/* HOME */
/*=================================*/

.btn-home {
  width: 49.5%;
  padding: 20px;
  background-color: #f0f0f0;
  text-align: center;
  color: #065B80;
  display: flex;
  align-items: center;
}

a.btn-home {
  text-decoration: none;
}

.btn-home i {
  font-size: 40pt;
  display: block;
  width: 100%;
}

.btn-home .title{
  display: block;
  font-size: 12pt;
  vertical-align: middle;
}

#home-content .row {
  padding: 0;
  height: 25%;
}

/*.cronograma {
  background-color: #ddd;
}

.mapa {
  background-color: #ccc;
}

.manual {
  background-color: #ddd;
}

.feedback {
  background-color: #ccc;
}*/

.main-row {
  height: 50%;
}

.btn-bottom-row {
  position: fixed;
  bottom: 0;
}

.btn-top-row {
  position: fixed;
  bottom: 25%;
}

/*transition from home to button link*/
[nav-view-transition="android"] [nav-view="entering"],
[nav-view-transition="android"] [nav-view="leaving"] {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
 }

/*=================================*/
/* CRONOGRAMA */
/*=================================*/

.crono-content {
  margin-top: 90px;
  padding-top: 20px;
  background-color: #F8F8F8;
  box-shadow: inset 0px 4px 10px #888;
}

.tabs-striped.tabs-positive .tabs {
  background-color: #1B8ABB;
}

.lecture {
  border-bottom: 1px solid #eee;
  box-shadow: 0 2px 5px #ddd;
}

.lecture-content {
  display: inline-block;
  border-left: 3px solid #065B80;
  padding: 20px;
  margin-left: 73px;
  width: 100%;
}

.lecture-content .title {
  display: block;
  font-size: 1.5em;
  margin-top: 10px;
  line-height: 1.2em;
}

.check {
  height: 20px;
  width: 20px;
  border: 2px solid #065B80;
  position: relative;
  margin-bottom: -50px;
  margin-top: 25px;
  margin-left: 65px;
  border-radius: 50%;
  background-color: #F8F8F8;
  z-index: 10;
  box-shadow: 0 0 0 5px #FFF
}

.active {
  background-color: #065B80;
}

.lecture .time {
  margin-bottom: -50px;
  margin-top: 25px;
  margin-left: 10px;
  font-size: 12pt;
  color: #065B80;
}

/*=================================*/
/* PALESTRANTES */
/*=================================*/

.speaker-big-img img{
  width: 100%;
}


/*=================================*/
/* SOCIAL */
/*=================================*/



/*=================================*/
/* MANUAL */
/*=================================*/



/*=================================*/
/* MEU CRONO */
/*=================================*/



/*=================================*/
/* FEEDBACK */
/*=================================*/



/*=================================*/
/* FAQ */
/*=================================*/
